<h1>If Else Condition Control Flow</h1>

@if (x == 20) {
  <div style="width: 200px; height: 200px; background-color: green;"></div>
} @else {
  <div style="width: 200px; height: 200px; background-color: red;"></div>
}

<br /><br />

<h1 style="background-color: blue;">Switch Case in Angular</h1>
<button (click)="HandleColor('red')">Red</button>
<button (click)="HandleColor('green')">Green</button>
<button (click)="HandleColor('blue')">Blue</button>
@switch (color) {
  @case ('red') {
    <h2 style="background-color: red;">Red Color</h2>
  }
  @case ('green') {
    <h2 style="background-color: green;">Green Color</h2>
  }
  @case ('blue') {
    <h2 style="background-color: blue;">Blue Color</h2>
  }
  @default {
    <h2>No Color Selected</h2>
  }
}





<h1 class="color" id="change"> color change</h1>



<h1>Loop Example</h1>

<ul>
  @for (fruit of fruits; track $index) {
    <li>
      {{ $index + 1 }} - {{ fruit }}
    </li>
  }
</ul>
<h1>Angular 19 Signals Example</h1>

<h2>Counter Value: {{ counter() }}</h2>

<button (click)="increment()">Increment</button>
<button (click)="decrement()">Decrement</button>
<button (click)="reset()">Reset</button>
